In [1]:
import boto3
import pandas as pd
from io import StringIO
import time

In [2]:
AWS_ACCESS_KEY = "AKIA4CRDWVNYLA4RLUIA"
AWS_SECRET_KEY = "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"
AWS_REGION="ap-southeast-1"
SCHEMA_NAME="covid-19"
S3_STAGING_DIR="s3://alivebook-test-bucket/output/"
S3_BUCKET_NAME="alivebook-test-bucket"
S3_OUTPUT_DIRECTORY="output"

In [3]:
athena_client = boto3.client(
    "athena",
    aws_access_key_id=AWS_ACCESS_KEY,
    aws_secret_access_key=AWS_SECRET_KEY,
    region_name=AWS_REGION)

In [4]:
Dict={}
def download_and_load_query_results(
    client: boto3.client, query_response: Dict
) -> pd.DataFrame:
    while True:
        try:
            # This function only loads the first 1000 rows
            client.get_query_results(
                QueryExecutionId=query_response["QueryExecutionId"]
            )
            break
        except Exception as err:
            if "not yet finished" in str(err):
                time.sleep(0.001)
            else:
                raise err
    temp_file_location: str = "athena_query_results.csv"
    s3_client = boto3.client(
        "s3",
        aws_access_key_id=AWS_ACCESS_KEY,
        aws_secret_access_key=AWS_SECRET_KEY,
        region_name=AWS_REGION,
    )
    s3_client.download_file(
        S3_BUCKET_NAME,
        f"{S3_OUTPUT_DIRECTORY}/{query_response['QueryExecutionId']}.csv",
        temp_file_location,
    )
    return pd.read_csv(temp_file_location)

In [5]:
response=athena_client.start_query_execution(
    QueryString = "SELECT * FROM enigma_jhudcsv",
    QueryExecutionContext={"Database":SCHEMA_NAME},
    ResultConfiguration={
        "OutputLocation": S3_STAGING_DIR,
        "EncryptionConfiguration":{"EncryptionOption":"SSE_S3"},
    })
enigma_jhudcsv=download_and_load_query_results(athena_client, response)
enigma_jhudcsv.head()

,fips,admin2,province_state,country_region,last_update,latitude,longitude,confirmed,deaths,recovered,active,combined_key
0,NaN,NaN,Anhui,China,2020-01-22T17:00:00,31.826,117.226,1.0,NaN,NaN,NaN,"""Anhui"
1,NaN,NaN,Beijing,China,2020-01-22T17:00:00,40.182,116.414,14.0,NaN,NaN,NaN,"""Beijing"
2,NaN,NaN,Chongqing,China,2020-01-22T17:00:00,30.057,107.874,6.0,NaN,NaN,NaN,"""Chongqing"
3,NaN,NaN,Fujian,China,2020-01-22T17:00:00,26.079,117.987,1.0,NaN,NaN,NaN,"""Fujian"
4,NaN,NaN,Gansu,China,2020-01-22T17:00:00,36.061,103.834,NaN,NaN,NaN,NaN,"""Gansu"

In [6]:
response=athena_client.start_query_execution(
    QueryString = "SELECT * FROM enigma_nytimes_data_in_usa_us_countyus_county",
    QueryExecutionContext={"Database":SCHEMA_NAME},
    ResultConfiguration={
        "OutputLocation": S3_STAGING_DIR,
        "EncryptionConfiguration":{"EncryptionOption":"SSE_S3"},
    })
enigma_nytimes_data_in_usa_us_countyus_county=download_and_load_query_results(athena_client, response)
enigma_nytimes_data_in_usa_us_countyus_county.head()

         date     county       state     fips  cases  deaths
0  2020-01-21  Snohomish  Washington  53061.0      1       0
1  2020-01-22  Snohomish  Washington  53061.0      1       0
2  2020-01-23  Snohomish  Washington  53061.0      1       0
3  2020-01-24       Cook    Illinois  17031.0      1       0
4  2020-01-24  Snohomish  Washington  53061.0      1       0

In [7]:
response=athena_client.start_query_execution(
    QueryString = "SELECT * FROM enigma_nytimes_data_in_usa_us_statesus_states",
    QueryExecutionContext={"Database":SCHEMA_NAME},
    ResultConfiguration={
        "OutputLocation": S3_STAGING_DIR,
        "EncryptionConfiguration":{"EncryptionOption":"SSE_S3"},
    })
enigma_nytimes_data_in_usa_us_statesus_states=download_and_load_query_results(athena_client, response)
enigma_nytimes_data_in_usa_us_statesus_states.head()

         date       state  fips  cases  deaths
0  2020-01-21  Washington    53      1       0
1  2020-01-22  Washington    53      1       0
2  2020-01-23  Washington    53      1       0
3  2020-01-24    Illinois    17      1       0
4  2020-01-24  Washington    53      1       0

In [8]:
response=athena_client.start_query_execution(
    QueryString = "SELECT * FROM rearc_covid_19_testing_data_states_dailystates_daily",
    QueryExecutionContext={"Database":SCHEMA_NAME},
    ResultConfiguration={
        "OutputLocation": S3_STAGING_DIR,
        "EncryptionConfiguration":{"EncryptionOption":"SSE_S3"},
    })
rearc_covid_19_testing_data_states_dailystates_daily=download_and_load_query_results(athena_client, response)
rearc_covid_19_testing_data_states_dailystates_daily.head()

,date,state,positive,probablecases,negative,pending,totaltestresultssource,totaltestresults,hospitalizedcurrently,hospitalizedcumulative,...,dataqualitygrade,deathincrease,hospitalizedincrease,hash,commercialscore,negativeregularscore,negativescore,positivescore,score,grade
0,20210307,AK,56886.0,NaN,NaN,NaN,totalTestsViral,1731628.0,33.0,1293.0,...,NaN,0,0,dc4bccd4bb885349d7e94d6fed058e285d4be164,0,0,0,0,0,NaN
1,20210307,AL,499819.0,107742.0,1931711.0,NaN,totalTestsPeopleViral,2323788.0,494.0,45976.0,...,NaN,-1,0,997207b430824ea40b8eb8506c19a93e07bc972e,0,0,0,0,0,NaN
2,20210307,AR,324818.0,69092.0,2480716.0,NaN,totalTestsViral,2736442.0,335.0,14926.0,...,NaN,22,11,50921aeefba3e30d31623aa495b47fb2ecc72fae,0,0,0,0,0,NaN
3,20210307,AS,0.0,NaN,2140.0,NaN,totalTestsViral,2140.0,NaN,NaN,...,NaN,0,0,96d23f888c995b9a7f3b4b864de6414f45c728ff,0,0,0,0,0,NaN
4,20210307,AZ,826454.0,56519.0,3073010.0,NaN,totalTestsViral,7908105.0,963.0,57907.0,...,NaN,5,44,0437a7a96f4471666f775e63e86923eb5cbd8cdf,0,0,0,0,0,NaN

In [9]:
response=athena_client.start_query_execution(
    QueryString = "SELECT * FROM rearc_covid_19_testing_data_us_dailyus_daily",
    QueryExecutionContext={"Database":SCHEMA_NAME},
    ResultConfiguration={
        "OutputLocation": S3_STAGING_DIR,
        "EncryptionConfiguration":{"EncryptionOption":"SSE_S3"},
    })
rearc_covid_19_testing_data_us_dailyus_daily=download_and_load_query_results(athena_client, response)
rearc_covid_19_testing_data_us_dailyus_daily.head()

,date,states,positive,negative,pending,hospitalizedcurrently,hospitalizedcumulative,inicucurrently,inicucumulative,onventilatorcurrently,...,lastmodified,recovered,total,posneg,deathincrease,hospitalizedincrease,negativeincrease,positiveincrease,totaltestresultsincrease,hash
0,20210307,56,28755524.0,74579770.0,11808.0,40212.0,878613.0,8137.0,45475.0,2801.0,...,2021-03-07T24:00:00Z,NaN,0,0,839,726,130414,41265,1156241,8b26839690cd05c0cef69cb9ed85641a76b5e78e
1,20210306,56,28714259.0,74449356.0,11783.0,41401.0,877887.0,8409.0,45453.0,2811.0,...,2021-03-06T24:00:00Z,NaN,0,0,1674,503,142201,59620,1409138,d0c0482ea549c9d5c04a7c86acb6fc6a8095a592
2,20210305,56,28654639.0,74307155.0,12213.0,42541.0,877384.0,8634.0,45373.0,2889.0,...,2021-03-05T24:00:00Z,NaN,0,0,2221,2781,271917,68787,1744417,a35ea4289cec4bb55c9f29ae04ec0fd5ac4e0222
3,20210304,56,28585852.0,74035238.0,12405.0,44172.0,874603.0,8970.0,45293.0,2973.0,...,2021-03-04T24:00:00Z,NaN,0,0,1743,1530,177957,65487,1590984,a19ad6379a653834cbda3093791ad2c3b9fab5ff
4,20210303,56,28520365.0,73857281.0,11778.0,45462.0,873073.0,9359.0,45214.0,3094.0,...,2021-03-03T24:00:00Z,NaN,0,0,2449,2172,267001,66836,1406795,9e1d2afda1b0ec243060d6f68a7134d011c0cb2a

In [10]:
response=athena_client.start_query_execution(
    QueryString = "SELECT * FROM rearc_covid_19_testing_data_us_total_latestus_total_latest",
    QueryExecutionContext={"Database":SCHEMA_NAME},
    ResultConfiguration={
        "OutputLocation": S3_STAGING_DIR,
        "EncryptionConfiguration":{"EncryptionOption":"SSE_S3"},
    })
rearc_covid_19_testing_data_us_total_latestus_total_latest=download_and_load_query_results(athena_client, response)
rearc_covid_19_testing_data_us_total_latestus_total_latest.head()

,positive,negative,pending,hospitalizedcurrently,hospitalizedcumulative,inicucurrently,inicucumulative,onventilatorcurrently,onventilatorcumulative,recovered,hash,lastmodified,death,hospitalized,total,totaltestresults,posneg,notes
0,1061101,5170081,2775,53793,111955,9486,4192,4712,373,153947,95064ba29ccbc20dbec397033dfe4b1f45137c99,2020-05-01T09:12:31.891Z,57266,111955,6233957,6231182,6231182,"""NOTE: """"total"""""

In [11]:
response=athena_client.start_query_execution(
    QueryString = "SELECT * FROM rearc_usa_hospital_bedsrearc_usa_hospital_beds",
    QueryExecutionContext={"Database":SCHEMA_NAME},
    ResultConfiguration={
        "OutputLocation": S3_STAGING_DIR,
        "EncryptionConfiguration":{"EncryptionOption":"SSE_S3"},
    })
rearc_usa_hospital_bedsrearc_usa_hospital_beds=download_and_load_query_results(athena_client, response)
rearc_usa_hospital_bedsrearc_usa_hospital_beds.head()

,objectid,hospital_name,hospital_type,hq_address,hq_address1,hq_city,hq_state,hq_zip_code,county_name,state_name,...,num_licensed_beds,num_staffed_beds,num_icu_beds,adult_icu_beds,pedi_icu_beds,bed_utilization,avg_ventilator_usage,potential_increase_in_bed_capac,latitude,longtitude
0,1,Phoenix VA Health Care System (AKA Carl T Hayd...,VA Hospital,650 E Indian School Rd,NaN,Phoenix,AZ,85012,Maricopa,Arizona,...,129.0,129.0,0,0,NaN,NaN,0.0,0,33.495498,-112.066157
1,2,Southern Arizona VA Health Care System,VA Hospital,3601 S 6th Ave,NaN,Tucson,AZ,85723,Pima,Arizona,...,295.0,295.0,2,2,NaN,NaN,2.0,0,32.181263,-110.965885
2,3,VA Central California Health Care System,VA Hospital,2615 E Clinton Ave,NaN,Fresno,CA,93703,Fresno,California,...,57.0,57.0,2,2,NaN,NaN,2.0,0,36.773324,-119.779742
3,4,VA Connecticut Healthcare System - West Haven ...,VA Hospital,950 Campbell Ave,NaN,West Haven,CT,6516,New Haven,Connecticut,...,216.0,216.0,1,1,NaN,NaN,2.0,0,41.284400,-72.957610
4,5,Wilmington VA Medical Center,VA Hospital,1601 Kirkwood Hwy,NaN,Wilmington,DE,19805,New Castle,Delaware,...,60.0,60.0,0,0,NaN,NaN,1.0,0,39.740206,-75.606532

In [12]:
response=athena_client.start_query_execution(
    QueryString = "SELECT * FROM static_datasets_countrycodecountrycode",
    QueryExecutionContext={"Database":SCHEMA_NAME},
    ResultConfiguration={
        "OutputLocation": S3_STAGING_DIR,
        "EncryptionConfiguration":{"EncryptionOption":"SSE_S3"},
    })
static_datasets_countrycodecountrycode=download_and_load_query_results(athena_client, response)
static_datasets_countrycodecountrycode.head()

          country alpha-2 code alpha-3 code  numeric code  latitude  longitude
0     Afghanistan           AF          AFG           4.0   33.0000       65.0
1         Albania           AL          ALB           8.0   41.0000       20.0
2         Algeria           DZ          DZA          12.0   28.0000        3.0
3  American Samoa           AS          ASM          16.0  -14.3333     -170.0
4         Andorra           AD          AND          20.0   42.5000        1.6

In [13]:
response=athena_client.start_query_execution(
    QueryString = "SELECT * FROM static_datasets_countypopulationcountypopulation",
    QueryExecutionContext={"Database":SCHEMA_NAME},
    ResultConfiguration={
        "OutputLocation": S3_STAGING_DIR,
        "EncryptionConfiguration":{"EncryptionOption":"SSE_S3"},
    })
static_datasets_countypopulationcountypopulation=download_and_load_query_results(athena_client, response)
static_datasets_countypopulationcountypopulation.head()

               id   id2   county    state  population estimate 2018
0  0500000US01001  1001  Autauga  Alabama                     55601
1  0500000US01003  1003  Baldwin  Alabama                    218022
2  0500000US01005  1005  Barbour  Alabama                     24881
3  0500000US01007  1007     Bibb  Alabama                     22400
4  0500000US01009  1009   Blount  Alabama                     57840

In [14]:
response=athena_client.start_query_execution(
    QueryString = "SELECT * FROM static_datasets_state_abvstate_abv",
    QueryExecutionContext={"Database":SCHEMA_NAME},
    ResultConfiguration={
        "OutputLocation": S3_STAGING_DIR,
        "EncryptionConfiguration":{"EncryptionOption":"SSE_S3"},
    })
static_datasets_state_abvstate_abv=download_and_load_query_results(athena_client, response)
static_datasets_state_abvstate_abv.head()

       col0          col1
0     State  Abbreviation
1   Alabama            AL
2    Alaska            AK
3   Arizona            AZ
4  Arkansas            AR

In [15]:
new_header=static_datasets_state_abvstate_abv.iloc[0]
static_datasets_state_abvstate_abv=static_datasets_state_abvstate_abv[1:]
static_datasets_state_abvstate_abv.columns=new_header
static_datasets_state_abvstate_abv.head()

0       State Abbreviation
1     Alabama           AL
2      Alaska           AK
3     Arizona           AZ
4    Arkansas           AR
5  California           CA

In [16]:
factCovid_1=enigma_jhudcsv[['fips', 'province_state', 'country_region', 'confirmed', 'deaths', 'recovered', 'active']]
factCovid_2=rearc_covid_19_testing_data_states_dailystates_daily[['fips','positive','negative','hospitalizedcurrently','hospitalized','hospitalizeddischarged']]
factCovid=pd.merge(factCovid_1, factCovid_2, on='fips', how='inner')
factCovid.head()

,fips,province_state,country_region,confirmed,deaths,recovered,active,positive,negative,hospitalizedcurrently,hospitalized,hospitalizeddischarged
0,72.0,Puerto Rico,US,3.0,0.0,0.0,NaN,101327.0,305972.0,147.0,NaN,NaN
1,72.0,Puerto Rico,US,3.0,0.0,0.0,NaN,101327.0,305972.0,147.0,NaN,NaN
2,72.0,Puerto Rico,US,3.0,0.0,0.0,NaN,101066.0,305972.0,136.0,NaN,NaN
3,72.0,Puerto Rico,US,3.0,0.0,0.0,NaN,100867.0,305972.0,171.0,NaN,NaN
4,72.0,Puerto Rico,US,3.0,0.0,0.0,NaN,100765.0,305972.0,169.0,NaN,NaN

In [17]:
dimRegion_1=enigma_jhudcsv[['fips', 'province_state', 'country_region', 'latitude', 'longitude']]
dimRegion_2=enigma_nytimes_data_in_usa_us_countyus_county[['fips','county','state']]
dimRegion=pd.merge(dimRegion_1, dimRegion_2, on='fips', how='inner')
dimRegion.head()

,fips,province_state,country_region,latitude,longitude,county,state
0,NaN,Anhui,China,31.826,117.226,New York City,New York
1,NaN,Anhui,China,31.826,117.226,Unknown,Rhode Island
2,NaN,Anhui,China,31.826,117.226,New York City,New York
3,NaN,Anhui,China,31.826,117.226,Unknown,Rhode Island
4,NaN,Anhui,China,31.826,117.226,New York City,New York

In [18]:
dimHospital=rearc_usa_hospital_bedsrearc_usa_hospital_beds[['fips','state_name','latitude','longtitude','hq_address','hospital_type','hospital_name','hq_city','hq_state']]
dimHospital.head()

,fips,state_name,latitude,longtitude,hq_address,hospital_type,hospital_name,hq_city,hq_state
0,4013.0,Arizona,33.495498,-112.066157,650 E Indian School Rd,VA Hospital,Phoenix VA Health Care System (AKA Carl T Hayd...,Phoenix,AZ
1,4019.0,Arizona,32.181263,-110.965885,3601 S 6th Ave,VA Hospital,Southern Arizona VA Health Care System,Tucson,AZ
2,6019.0,California,36.773324,-119.779742,2615 E Clinton Ave,VA Hospital,VA Central California Health Care System,Fresno,CA
3,9009.0,Connecticut,41.284400,-72.957610,950 Campbell Ave,VA Hospital,VA Connecticut Healthcare System - West Haven ...,West Haven,CT
4,10003.0,Delaware,39.740206,-75.606532,1601 Kirkwood Hwy,VA Hospital,Wilmington VA Medical Center,Wilmington,DE

In [19]:
dimDate=rearc_covid_19_testing_data_states_dailystates_daily[['fips','date']]
dimDate.head()

   fips      date
0     2  20210307
1     1  20210307
2     5  20210307
3    60  20210307
4     4  20210307

In [20]:
dimDate['date']=pd.to_datetime(dimDate['date'], format='%Y%m%d')

C:\Users\DerKaiser\AppData\Local\Temp\ipykernel_12552\2206187095.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dimDate['date']=pd.to_datetime(dimDate['date'], format='%Y%m%d')

In [21]:
dimDate.head()

   fips       date
0     2 2021-03-07
1     1 2021-03-07
2     5 2021-03-07
3    60 2021-03-07
4     4 2021-03-07

In [22]:
dimDate['year']=dimDate['date'].dt.year
dimDate['month']=dimDate['date'].dt.month
dimDate['day_of_week']=dimDate['date'].dt.dayofweek

C:\Users\DerKaiser\AppData\Local\Temp\ipykernel_12552\2089747518.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dimDate['year']=dimDate['date'].dt.year
C:\Users\DerKaiser\AppData\Local\Temp\ipykernel_12552\2089747518.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dimDate['month']=dimDate['date'].dt.month
C:\Users\DerKaiser\AppData\Local\Temp\ipykernel_12552\2089747518.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dimDate['day_of_week']=dimDate['date'].dt.dayofweek

In [23]:
dimDate.head()

   fips       date  year  month  day_of_week
0     2 2021-03-07  2021      3            6
1     1 2021-03-07  2021      3            6
2     5 2021-03-07  2021      3            6
3    60 2021-03-07  2021      3            6
4     4 2021-03-07  2021      3            6

In [24]:
bucket = 'covid-project-alivebook'

In [25]:
csv_buffer = StringIO()
factCovid.to_csv(csv_buffer)
s3 = boto3.client('s3', aws_access_key_id=AWS_ACCESS_KEY,aws_secret_access_key=AWS_SECRET_KEY,region_name=AWS_REGION)
s3.put_object(Bucket=bucket, Body=csv_buffer.getvalue(), Key='output/factCovid.csv')

{'ResponseMetadata': {'RequestId': 'STE8A6C8MDZKHW2D',
  'HostId': '3Z1jEJKTErM0E/9AMulDCtNEqHb2C0O1R/rXOayBtjS6BulDGGy2KybjGMNYRi2lgI1CKacRgAk=',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'x-amz-id-2': '3Z1jEJKTErM0E/9AMulDCtNEqHb2C0O1R/rXOayBtjS6BulDGGy2KybjGMNYRi2lgI1CKacRgAk=',
   'x-amz-request-id': 'STE8A6C8MDZKHW2D',
   'date': 'Mon, 29 May 2023 05:30:59 GMT',
   'x-amz-server-side-encryption': 'AES256',
   'etag': '"f3cc32eab5bb67c0219052cad5fbe69a"',
   'server': 'AmazonS3',
   'content-length': '0'},
  'RetryAttempts': 0},
 'ETag': '"f3cc32eab5bb67c0219052cad5fbe69a"',
 'ServerSideEncryption': 'AES256'}

In [26]:
csv_buffer = StringIO()
dimDate.to_csv(csv_buffer)
s3 = boto3.client('s3', aws_access_key_id=AWS_ACCESS_KEY,aws_secret_access_key=AWS_SECRET_KEY,region_name=AWS_REGION)
s3.put_object(Bucket=bucket, Body=csv_buffer.getvalue(), Key='output/dimDate.csv')

{'ResponseMetadata': {'RequestId': 'V2Q0W7FHGAM3ZM1T',
  'HostId': 'YJUdrMa68Qu5URz8BcX6Jlsi9L2LgF0Ram0IiwteIyItwK14h8bjBd550i8tgp+vz6YFIv2HXzw=',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'x-amz-id-2': 'YJUdrMa68Qu5URz8BcX6Jlsi9L2LgF0Ram0IiwteIyItwK14h8bjBd550i8tgp+vz6YFIv2HXzw=',
   'x-amz-request-id': 'V2Q0W7FHGAM3ZM1T',
   'date': 'Mon, 29 May 2023 05:31:03 GMT',
   'x-amz-server-side-encryption': 'AES256',
   'etag': '"d6eae31844ae905ae6342f60fffb5dc6"',
   'server': 'AmazonS3',
   'content-length': '0'},
  'RetryAttempts': 0},
 'ETag': '"d6eae31844ae905ae6342f60fffb5dc6"',
 'ServerSideEncryption': 'AES256'}

In [27]:
csv_buffer = StringIO()
dimHospital.to_csv(csv_buffer)
s3 = boto3.client('s3', aws_access_key_id=AWS_ACCESS_KEY,aws_secret_access_key=AWS_SECRET_KEY,region_name=AWS_REGION)
s3.put_object(Bucket=bucket, Body=csv_buffer.getvalue(), Key='output/dimHospital.csv')

{'ResponseMetadata': {'RequestId': 'XR4VJ9CZT5Y34TH6',
  'HostId': 'H9yQHWmS/ZJS8pEBPG2jytK5btUNe+7b65tDATgHp48Jm/L5Oq0C8G22u4Ae+fHAfc98ALtAE80=',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'x-amz-id-2': 'H9yQHWmS/ZJS8pEBPG2jytK5btUNe+7b65tDATgHp48Jm/L5Oq0C8G22u4Ae+fHAfc98ALtAE80=',
   'x-amz-request-id': 'XR4VJ9CZT5Y34TH6',
   'date': 'Mon, 29 May 2023 05:31:07 GMT',
   'x-amz-server-side-encryption': 'AES256',
   'etag': '"3e09cec2d0c1cc0b01a8182608cfa78d"',
   'server': 'AmazonS3',
   'content-length': '0'},
  'RetryAttempts': 0},
 'ETag': '"3e09cec2d0c1cc0b01a8182608cfa78d"',
 'ServerSideEncryption': 'AES256'}

In [28]:
csv_buffer = StringIO()
dimRegion.to_csv(csv_buffer)
s3 = boto3.client('s3', aws_access_key_id=AWS_ACCESS_KEY,aws_secret_access_key=AWS_SECRET_KEY,region_name=AWS_REGION)
s3.put_object(Bucket=bucket, Body=csv_buffer.getvalue(), Key='output/dimRegion.csv')

MemoryError:

In [29]:
dimDatesql = pd.io.sql.get_schema(dimDate.reset_index(),'dimDate')
print(''.join(dimDatesql))

CREATE TABLE "dimDate" (
"index" INTEGER,
  "fips" INTEGER,
  "date" TIMESTAMP,
  "year" INTEGER,
  "month" INTEGER,
  "day_of_week" INTEGER
)

In [30]:
dimHospitalsql = pd.io.sql.get_schema(dimHospital.reset_index(),'dimHospital')
print(''.join(dimHospitalsql))

CREATE TABLE "dimHospital" (
"index" INTEGER,
  "fips" REAL,
  "state_name" TEXT,
  "latitude" REAL,
  "longtitude" REAL,
  "hq_address" TEXT,
  "hospital_type" TEXT,
  "hospital_name" TEXT,
  "hq_city" TEXT,
  "hq_state" TEXT
)

In [31]:
factCovidsql = pd.io.sql.get_schema(factCovid.reset_index(),'factCovid')
print(''.join(factCovidsql))

CREATE TABLE "factCovid" (
"index" INTEGER,
  "fips" REAL,
  "province_state" TEXT,
  "country_region" TEXT,
  "confirmed" REAL,
  "deaths" REAL,
  "recovered" REAL,
  "active" REAL,
  "positive" REAL,
  "negative" REAL,
  "hospitalizedcurrently" REAL,
  "hospitalized" REAL,
  "hospitalizeddischarged" REAL
)

In [60]:
import psycopg2
import configparser
config = configparser.ConfigParser()
config.read_file(open('cluster_covid.config'))

In [61]:
KEY = config.get("AWS", "KEY")
SECRET = config.get("AWS", "SECRET")
DWH_CLUSTER_TYPE = config.get("DWH", "DWH_CLUSTER_TYPE")
DWH_NUM_NODES = config.get("DWH", "DWH_NUM_NODES")
DWH_NODE_TYPE = config.get("DWH", "DWH_NODE_TYPE")
DWH_CLUSTER_IDENTIFIER = config.get("DWH", "DWH_CLUSTER_IDENTIFIER")
DWH_DB = config.get("DWH", "DWH_DB")
DWH_DB_USER = config.get("DWH", "DWH_DB_USER")
DWH_DB_PASSWORD = config.get("DWH", "DWH_DB_PASSWORD")
DWH_PORT = config.get("DWH", "DWH_PORT")
DWH_IAM_ROLE_NAME = config.get("DWH", "DWH_IAM_ROLE_NAME")

(DWH_DB_USER,DWH_DB_PASSWORD,DWH_DB)

('awsuser', 'Phuoc0127', 'dw_covid')

In [62]:
pd.DataFrame({
    "Param":
    ["DWH_CLUSTER_TYPE", "DWH_NUM_NODES", "DWH_NODE_TYPE", "DWH_CLUSTER_IDENTIFIER", "DWH_DB", "DWH_DB_USER", "DWH_DB_PASSWORD", "DWH_PORT", "DWH_IAM_ROLE_NAME"],
    "Value":
    [DWH_CLUSTER_TYPE, DWH_NUM_NODES, DWH_NODE_TYPE, DWH_CLUSTER_IDENTIFIER, DWH_DB, DWH_DB_USER, DWH_DB_PASSWORD, DWH_PORT, DWH_IAM_ROLE_NAME]
})

                    Param                   Value
0        DWH_CLUSTER_TYPE             single-node
1           DWH_NUM_NODES                       1
2           DWH_NODE_TYPE               dc2.large
3  DWH_CLUSTER_IDENTIFIER  redshift-cluster-covid
4                  DWH_DB                dw_covid
5             DWH_DB_USER                 awsuser
6         DWH_DB_PASSWORD               Phuoc0127
7                DWH_PORT                    5439
8       DWH_IAM_ROLE_NAME      redshift-s3-access

In [63]:
ec2 = boto3.resource('ec2',
                    region_name="ap-southeast-1",
                    aws_access_key_id=KEY,
                    aws_secret_access_key=SECRET)

s3 = boto3.resource('s3',
                    region_name="ap-southeast-1",
                    aws_access_key_id=KEY,
                    aws_secret_access_key=SECRET)

iam = boto3.client('iam',
                    region_name="ap-southeast-1",
                    aws_access_key_id=KEY,
                    aws_secret_access_key=SECRET)

redshift = boto3.client('redshift',
                    region_name="ap-southeast-1",
                    aws_access_key_id=KEY,
                    aws_secret_access_key=SECRET)

In [66]:
roleArn = iam.get_role(RoleName=DWH_IAM_ROLE_NAME)['Role']['Arn']
roleArn

'arn:aws:iam::830077315952:role/redshift-s3-access'

In [67]:
try:
    response = redshift.create_cluster(
    ClusterType=DWH_CLUSTER_TYPE,
    NodeType=DWH_NODE_TYPE,
    
    #Identifiers & Credentials
    DBName=DWH_DB,
    ClusterIdentifier=DWH_CLUSTER_IDENTIFIER,
    MasterUsername=DWH_DB_USER,
    MasterUserPassword=DWH_DB_PASSWORD,
    #Roles (for s3 access)
    IamRoles = [roleArn])
except Exception as e:
    print(e)

In [68]:
redshift.describe_clusters(ClusterIdentifier=DWH_CLUSTER_IDENTIFIER)['Clusters'][0]

{'ClusterIdentifier': 'redshift-cluster-covid',
 'NodeType': 'dc2.large',
 'ClusterStatus': 'creating',
 'ClusterAvailabilityStatus': 'Modifying',
 'MasterUsername': 'awsuser',
 'DBName': 'dw_covid',
 'AutomatedSnapshotRetentionPeriod': 1,
 'ManualSnapshotRetentionPeriod': -1,
 'ClusterSecurityGroups': [],
 'VpcSecurityGroups': [{'VpcSecurityGroupId': 'sg-08a2c4f342596830f',
   'Status': 'active'}],
 'ClusterParameterGroups': [{'ParameterGroupName': 'default.redshift-1.0',
   'ParameterApplyStatus': 'in-sync'}],
 'ClusterSubnetGroupName': 'default',
 'VpcId': 'vpc-0bba473ff1d54e0d8',
 'AvailabilityZone': 'ap-southeast-1c',
 'PreferredMaintenanceWindow': 'mon:21:00-mon:21:30',
 'PendingModifiedValues': {'MasterUserPassword': '****'},
 'ClusterVersion': '1.0',
 'AllowVersionUpgrade': True,
 'NumberOfNodes': 1,
 'PubliclyAccessible': True,
 'Encrypted': False,
 'ClusterNodes': [{'NodeRole': 'SHARED',
   'PrivateIPAddress': '172.31.3.80',
   'PublicIPAddress': '54.254.174.9'}],
 'ClusterRevisionNumber': '50708',
 'Tags': [],
 'EnhancedVpcRouting': False,
 'IamRoles': [{'IamRoleArn': 'arn:aws:iam::830077315952:role/redshift-s3-access',
   'ApplyStatus': 'adding'}],
 'MaintenanceTrackName': 'current',
 'DeferredMaintenanceWindows': [],
 'NextMaintenanceWindowStartTime': datetime.datetime(2023, 5, 29, 21, 0, tzinfo=tzutc()),
 'AvailabilityZoneRelocationStatus': 'disabled',
 'ClusterNamespaceArn': 'arn:aws:redshift:ap-southeast-1:830077315952:namespace:f5f39f3e-3de4-48c3-8b3f-d0dc3fff5879',
 'AquaConfiguration': {'AquaStatus': 'disabled',
  'AquaConfigurationStatus': 'auto'}}

In [72]:
def prettyRedshiftProps(props):
    pd.set_option('display.max_colwidth',100)
    keysToShow=["ClusterIdentifier", "NodeType", "ClusterStatus", "MasterUsername", "DBName", "Endpoint", "VpcId"]
    x=[(k,v) for k,v in props.items() if k in keysToShow]
    return pd.DataFrame(data=x, columns=["Key","Value"])

myClusterProps=redshift.describe_clusters(ClusterIdentifier=DWH_CLUSTER_IDENTIFIER)['Clusters'][0]
prettyRedshiftProps(myClusterProps)

,Key,Value
0,ClusterIdentifier,redshift-cluster-covid
1,NodeType,dc2.large
2,ClusterStatus,available
3,MasterUsername,awsuser
4,DBName,dw_covid
5,Endpoint,"{'Address': 'redshift-cluster-covid.c1mynk9ssisr.ap-southeast-1.redshift.amazonaws.com', 'Port':..."
6,VpcId,vpc-0bba473ff1d54e0d8

In [75]:
DWH_ENDPOINT=myClusterProps['Endpoint']['Address']
DWH_ROLE_ARN=myClusterProps['IamRoles'][0]['IamRoleArn']
DB_NAME=myClusterProps['DBName']
DB_USER=myClusterProps['MasterUsername']
DB_NAME, DWH_ENDPOINT, DB_USER, DWH_ROLE_ARN

('dw_covid',
 'redshift-cluster-covid.c1mynk9ssisr.ap-southeast-1.redshift.amazonaws.com',
 'awsuser',
 'arn:aws:iam::830077315952:role/redshift-s3-access')

In [76]:
try:
    vpc = ec2.Vpc(id=myClusterProps['VpcId'])
    defaultSg = list(vpc.security_groups.all())[0]
    print(defaultSg)
    defaultSg.authorize_ingress(
    GroupName=defaultSg.group_name,
    CidrIp='0.0.0.0/0',
    IpProtocol='TCP',
    FromPort=int(DWH_PORT),
    ToPort=int(DWH_PORT))
except Exception as e:
    print(e)

ec2.SecurityGroup(id='sg-08a2c4f342596830f')
An error occurred (InvalidPermission.Duplicate) when calling the AuthorizeSecurityGroupIngress operation: the specified rule "peer: 0.0.0.0/0, TCP, from port: 5439, to port: 5439, ALLOW" already exists

In [77]:
try:
    conn = psycopg2.connect(host=DWH_ENDPOINT, dbname=DB_NAME, user=DB_USER, password="Phuoc0127", port=5439)
except psycopg2.Error as e:
    print("Error: Could not make connection to the postgres database")
    print(e)
    
conn.set_session(autocommit=True)

In [78]:
try:
    cur=conn.cursor()
except psycopg2.Error as e:
    print("Error: Could not get cursor to the Database")
    print(e)

In [79]:
try:
    cur.execute("""
    CREATE TABLE "dimDate" (
    "index" INTEGER,
      "fips" INTEGER,
      "date" TIMESTAMP,
      "year" INTEGER,
      "month" INTEGER,
      "day_of_week" INTEGER
    );
    """)
except psycopg2.Error as e:
    print("Error: Issue creating table")
    print(e)

In [80]:
try:
    cur.execute("""
    CREATE TABLE "dimHospital" (
    "index" INTEGER,
      "fips" REAL,
      "state_name" TEXT,
      "latitude" REAL,
      "longtitude" REAL,
      "hq_address" TEXT,
      "hospital_type" TEXT,
      "hospital_name" TEXT,
      "hq_city" TEXT,
      "hq_state" TEXT
    );
    """)
except psycopg2.Error as e:
    print("Error: Issue creating table")
    print(e)

In [81]:
try:
    cur.execute("""
    CREATE TABLE "factCovid" (
    "index" INTEGER,
      "fips" REAL,
      "province_state" TEXT,
      "country_region" TEXT,
      "confirmed" REAL,
      "deaths" REAL,
      "recovered" REAL,
      "active" REAL,
      "positive" REAL,
      "negative" REAL,
      "hospitalizedcurrently" REAL,
      "hospitalized" REAL,
      "hospitalizeddischarged" REAL
    )
    """)
except psycopg2.Error as e:
    print("Error: Issue creating table")
    print(e)

In [82]:
try:
    cur.execute("""
    copy dimDate from 's3://covid-project-alivebook/output/dimDate.csv'
    credentials 'aws_iam_role=arn:aws:iam::830077315952:role/redshift-s3-access'
    delimiter ','
    region 'ap-southeast-1'
    IGNOREHEADER 1
    """)
except psycopg2.Error as e:
    print("Error: Issue creating table")
    print(e)

In [83]:
try:
    cur.execute("""
    copy dimHospital from 's3://covid-project-alivebook/output/dimHospital.csv'
    credentials 'aws_iam_role=arn:aws:iam::830077315952:role/redshift-s3-access'
    delimiter ','
    region 'ap-southeast-1'
    IGNOREHEADER 1
    """)
except psycopg2.Error as e:
    print("Error: Issue creating table")
    print(e)

In [84]:
try:
    cur.execute("""
    copy factCovid from 's3://covid-project-alivebook/output/factCovid.csv'
    credentials 'aws_iam_role=arn:aws:iam::830077315952:role/redshift-s3-access'
    delimiter ','
    region 'ap-southeast-1'
    IGNOREHEADER 1
    """)
except psycopg2.Error as e:
    print("Error: Issue creating table")
    print(e)